@page
@model SICAU.App.Frontend.Pages.ListSedeModel
@{
}
<h1>Listado Sedes</h1>

<form method="get">
    <p>
        Buscar Nombre Sede o Ubicación: 
        <input type="text" name="criterio" asp-for="criterio">
        <button type="submit" value="Buscar" class="btn btn-primary table-btn"> 
            <i class="fas fa-search"></i>
        </button>
    </p>
</form>

<p></p>

<a type="button" class="btn btn-primary" asp-page="/DirEntidades/EditSede">
    Adicionar Nuevo Registro
    <i class="far fa-file"></i>
</a>

<p></p>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Sede</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Universidad</th>
            <th scope="col">Edición</th>
            <th sorted="col">Eliminar</th>
        </tr>
  </thead>
  <tbody>
    @foreach (var sede in Model.sedes)
    {
        <tr>
            <td>@sede.id</td>
            <td>@sede.sede</td>
            <td>@sede.ubicacion</td>
            <td>@sede.universidad.universidad</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="/DirEntidades/EditSede" asp-route-idSede="@sede.id">
                <i class="far fa-address-book"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-warning table-btn" asp-page="/DirEntidades/DeleteSede" asp-route-idSede="@sede.id">
                <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>