@page
@model SICAU.App.Frontend.Pages.ListEstudianteModel
@{
}
<h1>Listado Estudiante</h1>

<form method="get">
    <p>
        Buscar por Nombres o Apellidos: 
        <input type="text" name="criterio" asp-for="criterio">
        <input type="submit" value="Buscar" class="btn btn-primary table-btn"> 
        <i class="fas fa-search"></i>
    </p>
</form>

<p></p>

<button type="button" class="btn btn-primary">
    <i class="far fa-file"></i>
    Adicionar Nuevo Registro
</button>

<p></p>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Detalle</th>
            <th scope="col">Edición</th>
            <th scope="col">Eliminar</th>
        </tr>
  </thead>
  <tbody>
    @foreach (var estudiante in Model.estudiantes)
    {
        <tr>
            <td>@estudiante.id</td>
            <td>@estudiante.nombre</td>
            <td>@estudiante.apellido</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="/DirEntidades/DetailEstudiante" asp-route-idEstudiante="@estudiante.id">
                <i class="fas fa-info-circle"></i> 
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="/DirEntidades/EditEstudiante" asp-route-idEstudiante="@estudiante.id">
                <i class="far fa-address-book"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-warning table-btn">
                <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>