@page
@model SICAU.App.Frontend.Pages.ListUniversidadModel
@{
}
<h1>Listado Universidad</h1>

<form method="get">
    <p>
        Buscar Universidad: 
        <input type="text" name="criterio" asp-for="criterio">
        <button type="submit" value="Buscar" class="btn btn-primary table-btn"> 
            <i class="fas fa-search"></i>
        </button>
    </p>
</form>

<p></p>

<a type="button" class="btn btn-primary" asp-page="/DirEntidades/EditUniversidad">Adicionar Nuevo Registro
<i class="far fa-file"></i>
</a>
<p></p>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Universidad</th>
            <th scope="col">Edición</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Sedes</th>
        </tr>
  </thead>
  <tbody>
    @foreach (var universidad in Model.universidades)
    {
        <tr>
            <td>@universidad.id</td>
            <td>@universidad.universidad</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="/DirEntidades/EditUniversidad" asp-route-idUniversidad="@universidad.id">
                <i class="far fa-address-book"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-warning table-btn" asp-page="/DirEntidades/DeleteUniversidad" asp-route-idUniversidad="@universidad.id">
                <i class="far fa-trash-alt"></i>
                </a>
            </td>
            <td>
                <a type="button" class="btn btn-secondary" asp-page="/DirEntidades/ListDetailSede" asp-route-idUniversidad="@universidad.id">
                <i class="far fa-building"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>